.header {

   &__top {
      padding: 15px 0px;
   }

   &__bottom {
      padding: 30px 0px;
   }
}
.header-top {
display: flex;
justify-content: space-between;
align-items: center;
   &__info {
      display: flex;
      flex:1;
      align-items: center;
      flex-wrap: wrap;
   }

   &__info-item {
      display: flex;
      align-items: center;
      color: #506a85;
      font-size: 12px;
      margin-right: 25px;
      margin-bottom: 5px;
      & img{
         display: flex;
         align-items: center;
         margin-right: 6px;
      }
   }

   &__socials {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }

   &__social-item {
      margin-right: 20px;
      display: flex;
      &:last-child {
         margin-right: 0;
      }
      & img {
         display: flex;
         align-items: center;
         &:hover{
            box-shadow: 0 2px 3px rgba(0,0,0,1);;
         }
      }
   }
}

.header-bottom {
display: flex;
justify-content: space-between;
align-items: center;
   &__logo {
      padding: 3px;
      &:hover{
         box-shadow: 4px 4px 2px rgb(0, 0, 0);
         transition: .5s;
      }
   }

   &__menu {
      @media (max-width:970px) {
         order:3;
      }
   }
   
}
.main-menu {
   position: relative;
   &__list {
      display: flex;
      flex-wrap: wrap;
      @media (max-width:970px) {
         position: absolute;
         right: 44px;
         top:-20px;
         justify-content: center;
         text-align: center;
         background-color: #506a85;
         width: 250px;
         display: flex;
         flex-direction: column;
         z-index: 666;
         padding: 10px;
         padding-top: 0;
         font-size: 40px;
         & .main-menu__item {
            margin-right: 0;
            & a{
               color: #fff;
            }
         }
         &.menu-closed {
            display: none;
         }
      }
   }

   &__item {
      display: inline;
      margin-right: 44px;
      &:last-child{
         margin-right: 0;
      }
      & a {
         color: #506a85;
         font-size: 15px;
         font-weight: 700;
         text-transform: uppercase;
         &:hover{
            box-shadow: 2px 2px 2px rgb(0, 0, 0);
            transition: .5s;
         }
      }
   }

   &__burger-button{
      display: none;
      @media (max-width:970px) {
         display: block;
         height: 40px;
         width: 40px;
         background-color:transparent;
         position: relative;
         &.menu-closed {
            &::before,
            &::after{
               content: '';
               display: block;
               position: absolute;
               width: 40px;
               height: 2px;
               background-color: #506a85;
               top:5px;
               right: 0;
            }
            &::before{
               top: 18px;
               box-shadow: 0 13px #506a85;
            }
         }
         &.menu-opened{
            position: absolute;
            right: 0;
            top: 0;
            &::before,
            &::after{
               content: '';
               display: block;
               position: absolute;
               width: 40px;
               height: 2px;
               background-color: #506a85;
               right: 0;
               top: 0px;
            }
            &::before{
               transform: rotate(45deg);
            }
            &::after{
               transform: rotate(-45deg);
            }
         }
      }
   }
}
